<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TargetConnectionString" connectionString="Data Source=localhost;Initial Catalog=msdb;Integrated Security=SSPI"/>
  </connectionStrings>
  <appSettings>
    <add key="serverName" value="localhost"/>
    <add key="databaseName" value="voresmail_dk_db"/>
    <add key="backupName" value="voresmail_dk_db.bak"/>
    <add key="waitTimeInMinutes" value="30"/>
    <add key="backupLocation" value="c:\TKBackup"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
